@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.user-profile {
  width: auto !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding-left: 0.75rem !important;
  .user-details {
    padding-left: 0.75rem !important;
    padding-right: 1rem !important;
  }
}

.h-inherit {
  height: inherit;
}

.main-content {
  height: 100%;
  margin-top: 3rem;
  padding: 0px !important;
  &.sidenav-expanded {
    margin-left: 16rem;
  }
}

.main-section {
  //padding: 1rem 2rem;
}


.b2bi--app-header{
  z-index: 5000;
}

.side-section:has(.cds--sidePage) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5500;
  //padding-top: 3rem;
  background-color: var(--cds-overlay, rgba(22, 22, 22, 0.5));
  opacity: 1;
  transition: opacity 240ms cubic-bezier(0, 0, 0.3, 1), visibility 0ms linear;
  visibility: inherit;
  display: block;
}

.side-section {
  transition: opacity 240ms cubic-bezier(0.4, 0.14, 1, 1), visibility 0ms linear 240ms;
  visibility: hidden;
  display: none;
}

.shell-page-content {
  padding-right: $spacing-05;
  padding-left: $spacing-05;
  height: calc(100vh - 98px);
  padding-bottom: $spacing-05;
  overflow: auto;
}

.shell-breadscrumb-container {
  margin-right: $spacing-05;
  margin-left: $spacing-05;
  padding-right: $spacing-05;
  padding-left: $spacing-05;
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.shell-toast-container {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  height: 100%;
  padding-top: 3rem;
}
